<md-dialog id="signup-dialog" aria-label="signup" ng-cloak>
  <form  name="signUn_form" >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Sign Up</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon aria-label="Close dialog">
            <i class="material-icons md-18">clear</i>
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block"
                            ng-class="{'has-error': signUn_form.FirstName.$invalid && (signUn_form.FirstName.$touched) }">
          <label>FirstName</label>
          <input type="text"
                 name="FirstName"
                 md-autofocus
                 ng-model="vm.user.firstName"
                 ng-minlength="2"
                 ng-maxlength="255"
                 ng-pattern="/^[a-zA-Z0-9\s\.\#\/]+$/"
                 required/>
        </md-input-container>
        <md-input-container class="md-block"
                            ng-class="{'has-error': signUn_form.LastName.$invalid && (signUn_form.LastName.$touched) }">
          <label>LastName</label>
          <input type="text"
                 name="LastName"
                 ng-model="vm.user.lastName"
                 ng-minlength="2"
                 ng-maxlength="255"
                 ng-pattern="/^[a-zA-Z0-9\s\.\#\/]+$/"
                 required/>
        </md-input-container>
        <md-input-container class="md-block"
                            ng-class="{'has-error': signUn_form.email.$invalid && (signUn_form.email.$touched || vm.showValidationError) }">
          <label>Email</label>
          <input type="email"
                 name="email"
                 ng-model="vm.user.email"
                 required/>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <input type="password"
                 name="password"
                 ng-model="vm.user.password"
                 required
                 ng-minlength="6"/>
          <div ng-messages="signUn_form.password.$error">
            <div ng-message="minlength">
              Password must contain at least 6 characters
            </div>
          </div>
          <br>

        </md-input-container>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <!--<a href="" class="md-primary">Forgot Password?</a>-->
      <span flex></span>
      <md-button data-ng-click="vm.submit()" type="submit" ng-disabled="signUn_form.$invalid" class="md-raised md-primary">Sign up</md-button>

    </md-dialog-actions>
  </form>
</md-dialog>
