<div layout="column" id="parent">


  <md-toolbar layout="row">
    <div class="button-menu">
      <md-button class="menu" hide-gt-lg ng-click="main.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="./assets/images/menu.svg"></md-icon>
      </md-button>
      <md-button ng-click="main.goMain()" aria-label="Show Main Page">
        Main
      </md-button>
    </div>
    <div class="title-menu">
      <h1>Angular Material - Blog</h1>
    </div>
  </md-toolbar>

  <!-- Wireframe Container #2 -->
  <div flex layout="row">
    <!-- Wireframe Container #3 -->
    <md-sidenav ng-click="main.toggleList()" md-is-open-closed="$mdMedia('gt-sm')" md-component-id="left"
                class="md-whiteframe-z2">
      <md-list>
        <md-list-item ng-repeat="u in main.users">
          <md-button ng-click="main.selectUser(u)" ng-class="{'selected' : u === main.selected }">
            <!--<md-icon md-svg-icon="{{u.avatar}}" class="avatar"></md-icon>-->
            {{u.firstName}}&nbsp{{u.lastName}}
          </md-button>
        </md-list-item>
      </md-list>
    </md-sidenav>

    <div class="center-side">
      <md-list class="center-height">
        <md-list-item>
          <md-content flex id="content">
            <md-icon md-svg-icon="{{main.selected.avatar}}" class="avatar"></md-icon>
            <h2>{{main.selected.firstName}}&nbsp{{main.selected.lastName}}</h2>
            <div ui-view></div>

            <md-button class="share" md-no-ink ng-click="main.share(main.selected)">
              <md-icon md-svg-icon="./assets/images/share.svg"></md-icon>
            </md-button>
          </md-content>
        </md-list-item>
      </md-list>
    </div>

    <div class="right-side">
      <md-list>
        <md-list-item ng-repeat="u in main.users">
          <md-button ng-click="main.selectUser(u);main.posts(u)" ui-sref="post" ng-class="{'selected' : u === main.selected }">
            <md-icon md-svg-icon="{{u.avatar}}" class="avatar"></md-icon>
            {{u.firstName}}&nbsp{{u.lastName}}
          </md-button>
        </md-list-item>
      </md-list>
    </div>


  </div>
</div>
