<md-dialog id="login-dialog" aria-label="Login" ng-cloak>
  <form novalidate name="signIn_form" ng-submit="vm.login(vm.user, signIn_form.$valid)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Sign In</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon aria-label="Close dialog">
            <i class="material-icons md-18">clear</i>
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block"
                            ng-class="{'has-error': signIn_form.email.$invalid && (signIn_form.email.$touched || vm.showValidationError) }">
          <label>Email</label>
          <input type="email"
                 name="email"
                 ng-model="vm.user.email"
                 ng-pattern='/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/i'
                 md-autofocus
                 required/>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <input type="password"
                 name="password"
                 ng-model="vm.user.password"
                 required
                 ng-minlength="6"/>
          <div ng-messages="signIn_form.password.$error">
            <div ng-message="minlength">
              Password must contain at least 6 characters
            </div>
          </div>
          <br>
          <div ng-messages="signIn_form.email.$error || signIn_form.password.$error" ng-show="vm.loginFail">
            <div ng-message="required">The email address or password you entered did not match our records. Please
              double-check and try again.
            </div>
          </div>
        </md-input-container>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button type="submit" ng-disabled="signIn_form.$invalid" class="md-raised md-primary">Sign in</md-button>

    </md-dialog-actions>
  </form>
</md-dialog>
