<md-dialog  aria-label="Post Title">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <div ng-repeat="user in home.users">
          <h2>{{(home.post.author == user.id) ? user.firstName: null}}</h2>
        </div>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="home.cancel()">
          <md-icon aria-label="Close dialog">
            <i class="material-icons md-18">clear</i>
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h1 class="title">{{home.post.title}}</h1>
        <span class="post__meta">{{home.post.createdAt| date: "MMMM dd, yyyy 'at' HH:mm"}}</span>
        <div class="post__meta__divider"></div>
        <p class="new-line">{{home.post.text}}</p>
        <div class="post__button">
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">

      <span flex></span>
      <md-button aria-label="Show User Contacts" class="share" md-no-ink ng-click="home.share(home.selected)">
        <md-icon md-svg-icon="./assets/images/share.svg"></md-icon>
      </md-button>
      <!--<md-button ng-if="(home.post.author == home.user.id)" ng-click="home.editPost(home.post)">-->
        <!--Edit Post-->
      <!--</md-button>-->
      <edit-post></edit-post>
      <md-button ng-if="(home.post.author == home.user.id)" ng-click="home.removePost(home.post.id)">
        Remove Post
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
